@model IEnumerable<StrattonUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th> <b>|</b> </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>

            </td>
            <td class="text-center">
                @item.StudentCount
            </td>
        </tr>
    }
</table>
<br />
<div>
    <hr />
    <h3>Site Maintained by</h3>
    <h4>Heather Stratton | hastratton@byui.edu | Silver Spring, MD</h4>
    
</div>