@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <!--<img src="~/images/graduation_photo.jpeg" />-->
    <h1 class="">Stratton University</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Welcome to Stratton University</h2>
        <p>
            At Stratton University you build a great future for yourself and the rest of the planet.
            <br /><br />Engaging classroom experience from our exceptional professors enlighten and inspire innovation.
            <br /><br />We want you to have your best higher education experience available.

            <br /><br />Build life-long relationships.
            <br /><br>Enroll today.
        </p>
    </div>
    <div class="col-md-4">
        <img class="vertical" src="~/images/university_library.jpeg" alt="library" />
    </div>
    
    <!--
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>You can build the application by following the steps in a series of tutorials.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">See project source code &raquo;</a></p>
    </div>-->
</div>
