@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>At Stratton University we uphold strict privacy regulations. No personal information is shared without consent. 
    </p>
